.component-data{
}

.component-card{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px; 
}

.image-hover:hover{
    position: relative;
    left: 50%;
    transform: scale(2);
    z-index: 10;
}