*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:55px;
    background-color:#2e3136;
    color:rgb(255, 255, 255);
}

.Logo{
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    
}

.home,
.repository,
.about{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}


