.titulo{
    /*color: rgb(0, 0, 0);*/
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    color: transparent;
    background-color: #000000;
    padding-top: 15px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.repository-class{
    background-image: url(https://i.ibb.co/WHdHMcY/main-Photo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-position: center center;
}

footer {
    color: white;
    background-color: blue;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:auto;
    color:rgb(255, 255, 255);

}

footer{
    width: 100%;
    background: #202020;
    color: white;  
    top: 200px;
    left: 0;
    right: 400px;
   bottom:100px;
   margin-top: 50px;
    
}
.container-footer{
    width: 100%;  
    background: #101010;
}
.footer2{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}
.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informationFooter a{
    text-decoration: none;
    color: #C7C7C7;
}